<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED" />
            <dataSource type="JNDI">
                <property name="data_source" value="java:/sbeDS" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="br/com/rbcti/server/mybatis/userMapper.xml" />
    </mappers>

</configuration>