<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="User">

    <resultMap id="userResultMap" type="br.com.rbcti.common.model.User">
        <result property="userId" column="USER_ID" />
        <result property="name"   column="NAME" />
        <result property="password"   column="PASSWORD" />
    </resultMap>

    <select id="selectUsers" resultMap="userResultMap">
        SELECT USER_ID, NAME, PASSWORD FROM T_USER
        ORDER BY USER_ID
    </select>

    <select id="selectById" resultMap="userResultMap" parameterType="long">
        SELECT USER_ID, NAME, PASSWORD FROM T_USER
        WHERE USER_ID = #{value}
    </select>

    <select id="selectByName" resultMap="userResultMap" parameterType="string">
        SELECT USER_ID, NAME, PASSWORD FROM T_USER
        WHERE NAME = #{value}
    </select>

</mapper>